<h1>Seja bem vindo!</h1> 

<%= render 'menu' %>

<hr/>

<p>Alguns exemplos de como usar o ERB</p>
<h2>Usando código Ruby no HTML com ERB</h2>
<% name = 'Jean' %>
<h3>Olá, <%= name %>!</h3> 
<p>Seu nome ao contrário é <%= name.reverse.downcase.capitalize %></p>
<hr />

<h2>Usando helpers para formatação de data</h2>
<p><strong>A data de hoje é:</strong> <%= format_date_br Date.today %></p>
<hr />

<h2>Verificando o idioma que está definido como padrão</h2>
<p>O idioma padrão dessa aplicação é o <strong><%= show_language(I18n.locale) %></strong>.</p>

<h2>Verificando ambiente Rails em conjunto de helpers</h2>
<p>Você está em ambiente de <strong><%= rails_environment %></strong></p>
<hr />

<h2>Variáveis de instância/sessão</h2>
<p>
  Este é o curso <strong><%= @course %></strong>, ministrado pelo professor <strong><%= @teacher %></strong>.
</p>
<hr />