<h1><%= t 'editing' %> <%= t @coin.model_name.human %></h1>

<%= render 'form', coin: @coin %>

<%= link_to t('links.show'), @coin, class: "btn btn-outline-primary" %>
<%= link_to t('links.go_back'), coins_path, class: "btn btn-outline-secondary" %>
