<p id="notice"><%= notice %></p>

<h1><%= @coins.model_name.human(count: @coins.count) %></h1>

<table>
  <thead>
    <tr>
      <th><%= @coins.human_attribute_name(:coin_name) %></th>
      <th><%= @coins.human_attribute_name(:acronym) %></th>
      <th><%= @coins.human_attribute_name(:image_url) %></th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.coin_name %></td>
        <td><%= coin.acronym %></td>
        <td>
          <%= image_tag coin.image_url, size: "25x25" if coin.image_url != nil %>
        </td>
        <td><%= link_to t('links.show'), coin %></td>
        <td><%= link_to t('links.edit'), edit_coin_path(coin) %></td>
        <td>
          <%= link_to t('links.delete'), coin, method: :delete, data: { confirm: "#{t 'sure'}" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "#{t 'links.add_new'} #{@coins.model_name.human}", new_coin_path %>
