<p id="notice"><%= notice %></p>

<p>
  <strong>Nome da moeda:</strong>
  <%= @coin.coin_name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @coin.image_url, size: "25x25" if @coin.image_url != nil %>
</p>

<% if @coin.mining_type_id %>
<p>
  <strong>Tipo de mineração</strong>
  <br>
  <%= @coin.mining_type.type_name %>
</p>
<% end %>

<%= link_to t('links.edit'), edit_coin_path(@coin) %> |
<%= link_to t('links.go_back'), coins_path %>
