<p id="notice"><%= notice %></p>

<p>
  <strong>Nome da moeda:</strong>
  <%= @coin.coin_name %>
</p>

<p>
  <strong>Sigla:</strong>
  <%= @coin.acronym %>
</p>

<p>
  <strong>Imagem:</strong>
  <br />
  <%= image_tag @coin.image_url, size: "25x25" if @coin.image_url != nil %>
</p>

<%= link_to 'Editar', edit_coin_path(@coin) %> |
<%= link_to 'Voltar', coins_path %>
